.App {
  text-align: center;
  /* width: 100%; */
}

.home {
  /* border: solid red; */
}

header {
  /* border: solid red; */
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header * {
  text-decoration: none;
  font-size: 25px;
  color: rgb(1, 76, 3);
}

.plants-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(14, 1fr);
  margin: 0 30px;
}

.plants-link {
  text-decoration: none;
}

.plants-name {
  /* border: solid red; */
  color: #000000;
  font-size: 30px;
  /* max-width: 90%; */
  text-align: center;
  word-wrap: break-word;
}

/* .plant-detail-container {
  display: flex;
  justify-content: space-around;
} */

.plant-detail-other-name {
  display: inline;
}