.App {
  text-align: center;
  background: linear-gradient(to top, #56ab2f, #ffffff);
}

.home,
.plant-create,
.plant-detail,
.plant-edit {
  min-height: calc(100vh - 90px);
}

.plant-create form,
.plant-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-create form input,
.plant-create-description,
.plant-edit form input,
.plant-edit-description {
  width: 500px;
  margin: 10px;
  color: rgb(1, 76, 3);
}

.plant-create form input:not(.plant-create-description),
.plant-edit form input:not(.plant-edit-description) {
  height: 25px;
}

.plant-create-description,
.plant-edit-description {
  height: 300px;
  font-family: Helvetica;
}

.plant-create-description::placeholder {
  position: absolute;
  top: 0;
  padding-top: 10px;
}

button {
  background-color: rgb(1, 76, 3);
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  border-radius: 15px;
  margin: 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

button:hover {
  box-shadow: 4px 5px 5px rgb(1, 49, 3);
}

.search {
  display: flex;
  justify-content: center;
}

.search * {
  margin: 50px 5px;
  margin-top: -5px;
  color: rgb(1, 76, 3);
}

input,
textarea {
  border-radius: 15px;
  padding: 8px;
  font-weight: bold;
  border: solid rgb(1, 76, 3);
}

header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-link:hover {
  font-weight: bolder;
}

header * {
  text-decoration: none;
  font-size: 25px;
  color: rgb(1, 76, 3);
}

.plants-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 30px;
}

.plants-link {
  text-decoration: none;
}

.plants-name {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
}

.plant-detail-container {
  display: flex;
}